h1 {
    color: skyblue;
}

p {
    display: block;
    color: navy;
}

strong {
    color: red;
    font-size: 50px;
}

#warning {
    color: green;
}

.backwards {
    color: hotpink;
}

.container {
    background-color: lightgrey;
    width: 650px;
    margin: 50px;
    padding: 15px;
    text-align: center;
    border: 6px solid black;
    border-bottom-width: 12px;
    border-left-width: 12px;
    border-radius: 20px;
    box-sizing: border-box;
}